{% extends 'inventario/base.html' %}

{% block 'content' %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{title}}</h3>
                <button>Aplicar reglas de corte</button>
              </div>
              <div class="card-body">
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Nombre</th>
                        <th>IP</th>
                        <th style="width: 40px">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for m in mikrotik %}
                      <tr>
                        <td>{{m.id}}</td>
                        <td>{{m.nombre}}</td>
                        <td>{{m.ip}}</td>
                        <td>
                            <i class="fas fa-edit"></i>
                            
                        </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                Footer
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock  %}